In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

import json
import requests
import gmaps

#Google developer API key
from config import g_key

#Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
file_path = "Resources\\MoviesOnStreamingPlatforms_updated.csv"

df = pd.read_csv(file_path)

df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [3]:
df.drop(columns=["Rotten Tomatoes","Directors","Type","Unnamed: 0"], inplace=True)

df.head()

,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,1,0,0,0,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,1,0,0,0,"Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,1,0,0,0,"Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,1,0,0,0,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,1,0,1,0,Western,"Italy,Spain,West Germany",Italian,161.0

In [4]:
complete_df = df.loc[~((df['IMDb'].isnull() )|(df['Genres'].isnull())|(df['Language'].isnull())|(df["Country"].isnull())|(df['Age'].isnull()))]

complete_df.shape

(7192, 13)

In [5]:
complete_df

,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,1,0,0,0,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,1,0,0,0,"Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,1,0,0,0,"Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,1,0,0,0,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,1,0,1,0,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16726,16727,Richie Rich's Christmas Wish,1998,all,4.1,0,0,0,1,"Comedy,Family",United States,English,84.0
16727,16728,The Jungle Book: Mowgli's Story,1998,all,4.2,0,0,0,1,"Adventure,Family",United States,English,77.0
16737,16738,The Bears and I,1974,all,6.2,0,0,0,1,"Drama,Family",United States,English,89.0
16738,16739,Whispers: An Elephant's Tale,2000,all,5.0,0,0,0,1,"Adventure,Family",United States,English,72.0
16740,16741,The Poof Point,2001,7+,4.7,0,0,0,1,"Comedy,Family,Sci-Fi",United States,English,90.0

## Country split for full DataFrame from complete_df Data Frame

In [6]:
#Do the same but for the full Data Frame
print("----------------------------")
print(f"Complete Country text split DataFrame")
print("----------------------------")
complete_df

----------------------------
Complete Country text split DataFrame
----------------------------

,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,1,0,0,0,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,1,0,0,0,"Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,1,0,0,0,"Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,1,0,0,0,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,1,0,1,0,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16726,16727,Richie Rich's Christmas Wish,1998,all,4.1,0,0,0,1,"Comedy,Family",United States,English,84.0
16727,16728,The Jungle Book: Mowgli's Story,1998,all,4.2,0,0,0,1,"Adventure,Family",United States,English,77.0
16737,16738,The Bears and I,1974,all,6.2,0,0,0,1,"Drama,Family",United States,English,89.0
16738,16739,Whispers: An Elephant's Tale,2000,all,5.0,0,0,0,1,"Adventure,Family",United States,English,72.0
16740,16741,The Poof Point,2001,7+,4.7,0,0,0,1,"Comedy,Family,Sci-Fi",United States,English,90.0

In [7]:
#Separate data from Country column and duplicate Country values
xplodecountry_df= complete_df.assign(Country=df.Country.str.split(",")).explode('Country')
xplodecountry_df

,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,1,0,0,0,"Action,Adventure,Sci-Fi,Thriller",United States,"English,Japanese,French",148.0
0,1,Inception,2010,13+,8.8,1,0,0,0,"Action,Adventure,Sci-Fi,Thriller",United Kingdom,"English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,1,0,0,0,"Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,1,0,0,0,"Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,1,0,0,0,"Adventure,Comedy,Sci-Fi",United States,English,116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16726,16727,Richie Rich's Christmas Wish,1998,all,4.1,0,0,0,1,"Comedy,Family",United States,English,84.0
16727,16728,The Jungle Book: Mowgli's Story,1998,all,4.2,0,0,0,1,"Adventure,Family",United States,English,77.0
16737,16738,The Bears and I,1974,all,6.2,0,0,0,1,"Drama,Family",United States,English,89.0
16738,16739,Whispers: An Elephant's Tale,2000,all,5.0,0,0,0,1,"Adventure,Family",United States,English,72.0
16740,16741,The Poof Point,2001,7+,4.7,0,0,0,1,"Comedy,Family,Sci-Fi",United States,English,90.0

In [8]:
#Sorting data by descendign order in IMDb rating column and ascending Country to guarantee different results than USA
sortcountry_df = xplodecountry_df.sort_values(by =['IMDb','Country'], ascending=[False,True])
sortcountry_df

,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Genres,Country,Language,Runtime
7491,7492,Finding Family,2013,13+,9.1,0,0,1,0,"Documentary,Family,History,War",Bosnia and Herzegovina,"Bosnian,English",56.0
7491,7492,Finding Family,2013,13+,9.1,0,0,1,0,"Documentary,Family,History,War",United Kingdom,"Bosnian,English",56.0
3560,3561,The Dark Knight,2008,13+,9.0,0,1,0,0,"Action,Crime,Drama,Thriller",United Kingdom,"English,Mandarin",152.0
3560,3561,The Dark Knight,2008,13+,9.0,0,1,0,0,"Action,Crime,Drama,Thriller",United States,"English,Mandarin",152.0
6840,6841,Peter Gabriel: Secret World Live,1993,all,8.9,0,0,1,0,"Documentary,Music",Canada,English,102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15735,15736,The Legend of the Titanic,1999,all,1.6,0,0,1,0,"Animation,Family,Fantasy,Romance",United States,Italian,84.0
15837,15838,Life's a Jungle: Africa's Most Wanted,2012,all,1.6,0,0,1,0,"Animation,Family",United States,English,101.0
16631,16632,Jonas Brothers: The Concert Experience,2009,all,1.6,0,0,0,1,"Documentary,Music",United States,English,76.0
15556,15557,Diamond Dawgs,2009,18+,1.5,0,0,1,0,"Action,Crime,Drama",United States,English,90.0
13681,13682,Justin Bieber: Rise to Fame,2011,all,1.0,0,0,1,0,Documentary,United Kingdom,English,65.0

In [9]:
#Get Unique Values of a Column with drop_duplicates() for a specific column Title
dropcountry_df= sortcountry_df.drop_duplicates(subset=['Title'])
dropcountry_df

,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Genres,Country,Language,Runtime
7491,7492,Finding Family,2013,13+,9.1,0,0,1,0,"Documentary,Family,History,War",Bosnia and Herzegovina,"Bosnian,English",56.0
3560,3561,The Dark Knight,2008,13+,9.0,0,1,0,0,"Action,Crime,Drama,Thriller",United Kingdom,"English,Mandarin",152.0
6840,6841,Peter Gabriel: Secret World Live,1993,all,8.9,0,0,1,0,"Documentary,Music",Canada,English,102.0
4829,4830,The Mountain II,2016,all,8.9,0,0,1,0,"Action,Drama,War",Turkey,Turkish,135.0
7643,7644,Machine Gun Preacher Documentary,2014,16+,8.8,0,0,1,0,Documentary,Australia,English,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15735,15736,The Legend of the Titanic,1999,all,1.6,0,0,1,0,"Animation,Family,Fantasy,Romance",Italy,Italian,84.0
15837,15838,Life's a Jungle: Africa's Most Wanted,2012,all,1.6,0,0,1,0,"Animation,Family",United States,English,101.0
16631,16632,Jonas Brothers: The Concert Experience,2009,all,1.6,0,0,0,1,"Documentary,Music",United States,English,76.0
15556,15557,Diamond Dawgs,2009,18+,1.5,0,0,1,0,"Action,Crime,Drama",United States,English,90.0
13681,13682,Justin Bieber: Rise to Fame,2011,all,1.0,0,0,1,0,Documentary,United Kingdom,English,65.0

# Take cleaned Country drop duplicates DataFrame to add one Service column

## Now let's work with every movie instead of only the unique ones!!!¶
Generate a new Service Column

Merge the four single columns showed on our original Data Frame and data filling into the "Service" Column

In [10]:
#Checking on DataFarame reading
#dropcountry_df.columns

In [11]:
dropcountry_df["Total Services"] = dropcountry_df["Netflix"]+dropcountry_df["Hulu"]+dropcountry_df["Prime Video"]+dropcountry_df["Disney+"]

uniquecountry_movies_df = dropcountry_df[dropcountry_df["Total Services"]<2]
print("----------------------------")
print(f"Complete Country adding Total Service column")
print("----------------------------")
uniquecountry_movies_df

----------------------------
Complete Country adding Total Service column
----------------------------

C:\Users\gloam\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Genres,Country,Language,Runtime,Total Services
7491,7492,Finding Family,2013,13+,9.1,0,0,1,0,"Documentary,Family,History,War",Bosnia and Herzegovina,"Bosnian,English",56.0,1
3560,3561,The Dark Knight,2008,13+,9.0,0,1,0,0,"Action,Crime,Drama,Thriller",United Kingdom,"English,Mandarin",152.0,1
6840,6841,Peter Gabriel: Secret World Live,1993,all,8.9,0,0,1,0,"Documentary,Music",Canada,English,102.0,1
4829,4830,The Mountain II,2016,all,8.9,0,0,1,0,"Action,Drama,War",Turkey,Turkish,135.0,1
7643,7644,Machine Gun Preacher Documentary,2014,16+,8.8,0,0,1,0,Documentary,Australia,English,73.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15735,15736,The Legend of the Titanic,1999,all,1.6,0,0,1,0,"Animation,Family,Fantasy,Romance",Italy,Italian,84.0,1
15837,15838,Life's a Jungle: Africa's Most Wanted,2012,all,1.6,0,0,1,0,"Animation,Family",United States,English,101.0,1
16631,16632,Jonas Brothers: The Concert Experience,2009,all,1.6,0,0,0,1,"Documentary,Music",United States,English,76.0,1
15556,15557,Diamond Dawgs,2009,18+,1.5,0,0,1,0,"Action,Crime,Drama",United States,English,90.0,1
13681,13682,Justin Bieber: Rise to Fame,2011,all,1.0,0,0,1,0,Documentary,United Kingdom,English,65.0,1

In [12]:
#Checking on DataFrame reading
#uniquecountry_movies_df.columns

In [13]:
uniquecountry_movies_df = pd.melt(uniquecountry_movies_df, id_vars = ['ID', 'Title', 'Year', 'Age', 'IMDb', 'Genres', 'Country',
                                                                      'Language', 'Runtime', "Total Services"], 
                      value_vars= ['Netflix', 'Hulu', 'Prime Video','Disney+'], var_name = "Service")

#uniquecountry_movies_df

In [14]:
#COMPLETE DATA FRAME WITH UNIQUE COUNTRY AND SERVICE COLUMNS
uniquecountry_movies_df = uniquecountry_movies_df[uniquecountry_movies_df["value"]==1]

uniquecountry_movies_df.drop(columns=["value"], inplace=True)

uniquecountry_movies_df

,ID,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,Total Services,Service
6,1,Inception,2010,13+,8.8,"Action,Adventure,Sci-Fi,Thriller",United Kingdom,"English,Japanese,French",148.0,1,Netflix
10,2,The Matrix,1999,18+,8.7,"Action,Sci-Fi",United States,English,136.0,1,Netflix
15,1539,Luciano Mellera: Infantiloide,2018,13+,8.6,Comedy,Argentina,Spanish,66.0,1,Netflix
16,2196,Hikaru Utada Laughter in the Dark Tour 2018,2019,all,8.6,Music,Japan,Japanese,141.0,1,Netflix
26,48,Senna,2010,13+,8.5,"Documentary,Biography,Sport",France,"English,Portuguese,French,Japanese",106.0,1,Netflix
...,...,...,...,...,...,...,...,...,...,...,...
26887,16638,Inspector Gadget 2,2003,all,3.4,"Action,Comedy,Crime,Family,Sci-Fi",United States,English,89.0,1,Disney+
26889,16672,George of the Jungle 2,2003,7+,3.3,"Adventure,Comedy,Family",Australia,English,87.0,1,Disney+
27030,16688,Kazaam,1996,7+,3.0,"Comedy,Family,Fantasy,Musical",United States,English,93.0,1,Disney+
27180,16526,Hannah Montana & Miley Cyrus: Best of Both Wor...,2008,all,2.4,"Documentary,Music",United States,English,74.0,1,Disney+
27241,16632,Jonas Brothers: The Concert Experience,2009,all,1.6,"Documentary,Music",United States,English,76.0,1,Disney+

# Creating and info label for the best recent and oldest movies ever, according to IMDb ranking

In [15]:
uniquecountry_movies_df.loc[uniquecountry_movies_df['Year'].idxmax()]

ID                                               284
Title             Crip Camp: A Disability Revolution
Year                                            2020
Age                                              18+
IMDb                                             7.8
Genres                                   Documentary
Country                                United States
Language                                     English
Runtime                                          106
Total Services                                     1
Service                                      Netflix
Name: 325, dtype: object

In [16]:
uniquecountry_movies_df.loc[uniquecountry_movies_df['Year'].idxmin()]

ID                                                        4468
Title                                       A Trip to the Moon
Year                                                      1902
Age                                                        all
IMDb                                                       8.2
Genres            Short,Action,Adventure,Comedy,Fantasy,Sci-Fi
Country                                                 France
Language                                           None,French
Runtime                                                     13
Total Services                                               1
Service                                            Prime Video
Name: 13708, dtype: object

# Getting the oldest and newest movies of all times, ranked the best

In [17]:
uniquecountry_movies_df[uniquecountry_movies_df['Year']==uniquecountry_movies_df['Year'].max()]
uniquecountry_movies_df.head()

,ID,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,Total Services,Service
6,1,Inception,2010,13+,8.8,"Action,Adventure,Sci-Fi,Thriller",United Kingdom,"English,Japanese,French",148.0,1,Netflix
10,2,The Matrix,1999,18+,8.7,"Action,Sci-Fi",United States,English,136.0,1,Netflix
15,1539,Luciano Mellera: Infantiloide,2018,13+,8.6,Comedy,Argentina,Spanish,66.0,1,Netflix
16,2196,Hikaru Utada Laughter in the Dark Tour 2018,2019,all,8.6,Music,Japan,Japanese,141.0,1,Netflix
26,48,Senna,2010,13+,8.5,"Documentary,Biography,Sport",France,"English,Portuguese,French,Japanese",106.0,1,Netflix

In [18]:
uniquecountry_movies_df[uniquecountry_movies_df['Year']==uniquecountry_movies_df['Year'].min()]

,ID,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,Total Services,Service
13708,4468,A Trip to the Moon,1902,all,8.2,"Short,Action,Adventure,Comedy,Fantasy,Sci-Fi",France,"None,French",13.0,1,Prime Video

# Create a unique country movie Data Frame merging unique Services in one column

In [19]:
#Sorting data by descendign order in IMDb rating column and ascending Country 
uniquecountry_movies_df = uniquecountry_movies_df.sort_values(by =['IMDb','Country'], ascending=[False,True])
uniquecountry_movies_df

,ID,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,Total Services,Service
13622,7492,Finding Family,2013,13+,9.1,"Documentary,Family,History,War",Bosnia and Herzegovina,"Bosnian,English",56.0,1,Prime Video
6812,3561,The Dark Knight,2008,13+,9.0,"Action,Crime,Drama,Thriller",United Kingdom,"English,Mandarin",152.0,1,Hulu
13624,6841,Peter Gabriel: Secret World Live,1993,all,8.9,"Documentary,Music",Canada,English,102.0,1,Prime Video
13625,4830,The Mountain II,2016,all,8.9,"Action,Drama,War",Turkey,Turkish,135.0,1,Prime Video
13626,7644,Machine Gun Preacher Documentary,2014,16+,8.8,Documentary,Australia,English,73.0,1,Prime Video
...,...,...,...,...,...,...,...,...,...,...,...
20428,15736,The Legend of the Titanic,1999,all,1.6,"Animation,Family,Fantasy,Romance",Italy,Italian,84.0,1,Prime Video
20429,15838,Life's a Jungle: Africa's Most Wanted,2012,all,1.6,"Animation,Family",United States,English,101.0,1,Prime Video
27241,16632,Jonas Brothers: The Concert Experience,2009,all,1.6,"Documentary,Music",United States,English,76.0,1,Disney+
20431,15557,Diamond Dawgs,2009,18+,1.5,"Action,Crime,Drama",United States,English,90.0,1,Prime Video
20432,13682,Justin Bieber: Rise to Fame,2011,all,1.0,Documentary,United Kingdom,English,65.0,1,Prime Video

# Calling API key to use Gmaps

In [20]:
#Configure gmaps
gmaps.configure(api_key= g_key)

# Clean up,  replace and update Country names recognizable by Google:
Replace and update Soviet Union to Russia naming

In [27]:
#First call the DataFrame source, then I created a variable to hold cities
cities_df= uniquecountry_movies_df
uniquecountry_movies_df["Country"].unique()

array(['Bosnia and Herzegovina', 'United Kingdom', 'Canada', 'Turkey',
       'Australia', 'Japan', 'United States', 'India', 'Argentina',
       'Brazil', 'France', 'Syria', 'New Zealand', 'Russia',
       'Switzerland', 'Denmark', 'Germany', 'Austria', 'China', 'Finland',
       'Mexico', 'Spain', 'Belgium', 'Czech Republic', 'Haiti',
       'Hong Kong', 'Kyrgyzstan', 'Peru', 'United Arab Emirates',
       'Bermuda', 'Czechoslovakia', 'Philippines', 'Poland', 'Romania',
       'South Korea', 'Sweden', 'Netherlands', 'Norway', 'Taiwan',
       'Angola', 'Bangladesh', 'Pakistan', 'Italy', 'Thailand', 'Egypt',
       'Hungary', 'Ireland', 'Israel', 'Luxembourg', 'Qatar', 'Ukraine',
       'West Germany', 'Guatemala', 'Afghanistan', 'Malta',
       'South Africa', 'Bulgaria', 'Cambodia', 'Colombia', 'Croatia',
       'Dominican Republic', 'Lebanon', 'Tanzania', 'Nepal', 'Paraguay',
       'Indonesia', 'Chile', 'Iceland', 'Iran', 'Cuba', 'Jamaica',
       'Burkina Faso', 'Greece', 'Bahrain', 'Cayman Islands', 'Estonia',
       'Latvia', 'Nigeria', 'Albania', 'Morocco', 'Singapore',
       'Trinidad and Tobago', 'Portugal', 'Puerto Rico', 'Lithuania',
       'Aruba', 'Montenegro', 'Monaco', 'Belarus', 'Bahamas', 'Serbia',
       'Slovakia'], dtype=object)

In [28]:
cities_df["Country"].unique()

array(['Bosnia and Herzegovina', 'United Kingdom', 'Canada', 'Turkey',
       'Australia', 'Japan', 'United States', 'India', 'Argentina',
       'Brazil', 'France', 'Syria', 'New Zealand', 'Russia',
       'Switzerland', 'Denmark', 'Germany', 'Austria', 'China', 'Finland',
       'Mexico', 'Spain', 'Belgium', 'Czech Republic', 'Haiti',
       'Hong Kong', 'Kyrgyzstan', 'Peru', 'United Arab Emirates',
       'Bermuda', 'Czechoslovakia', 'Philippines', 'Poland', 'Romania',
       'South Korea', 'Sweden', 'Netherlands', 'Norway', 'Taiwan',
       'Angola', 'Bangladesh', 'Pakistan', 'Italy', 'Thailand', 'Egypt',
       'Hungary', 'Ireland', 'Israel', 'Luxembourg', 'Qatar', 'Ukraine',
       'West Germany', 'Guatemala', 'Afghanistan', 'Malta',
       'South Africa', 'Bulgaria', 'Cambodia', 'Colombia', 'Croatia',
       'Dominican Republic', 'Lebanon', 'Tanzania', 'Nepal', 'Paraguay',
       'Indonesia', 'Chile', 'Iceland', 'Iran', 'Cuba', 'Jamaica',
       'Burkina Faso', 'Greece', 'Bahrain', 'Cayman Islands', 'Estonia',
       'Latvia', 'Nigeria', 'Albania', 'Morocco', 'Singapore',
       'Trinidad and Tobago', 'Portugal', 'Puerto Rico', 'Lithuania',
       'Aruba', 'Montenegro', 'Monaco', 'Belarus', 'Bahamas', 'Serbia',
       'Slovakia'], dtype=object)

In [29]:
#Replacing unexistent countries by existing names
cities_df.replace({'Soviet Union': 'Russia'}, inplace=True)

# Create new Data Frame replacing and updating Soviet Union to Russia name

In [30]:
#creating cities DataFrame
summarycities_df = cities_df[["Country","Title","IMDb","Year","Service"]]
summarycities_df.head(6)

,Country,Title,IMDb,Year,Service
13622,Bosnia and Herzegovina,Finding Family,9.1,2013,Prime Video
6812,United Kingdom,The Dark Knight,9.0,2008,Hulu
13624,Canada,Peter Gabriel: Secret World Live,8.9,1993,Prime Video
13625,Turkey,The Mountain II,8.9,2016,Prime Video
13626,Australia,Machine Gun Preacher Documentary,8.8,2014,Prime Video
13627,Japan,Memories 677,8.8,2011,Prime Video

# Setting DataFrame to IMDb Top 5 unique countries to be mapped and call their latitude and longitude in order to be found

In [31]:
#Add columns for lat, lng
#We used "" to specify initial entry
summarycities_df["Lat"]= ""
summarycities_df["Lng"]= ""

#Block number of cities to 6
topcities_df= summarycities_df[:6]
topcities_df

C:\Users\gloam\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\gloam\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Country,Title,IMDb,Year,Service,Lat,Lng
13622,Bosnia and Herzegovina,Finding Family,9.1,2013,Prime Video,,
6812,United Kingdom,The Dark Knight,9.0,2008,Hulu,,
13624,Canada,Peter Gabriel: Secret World Live,8.9,1993,Prime Video,,
13625,Turkey,The Mountain II,8.9,2016,Prime Video,,
13626,Australia,Machine Gun Preacher Documentary,8.8,2014,Prime Video,,
13627,Japan,Memories 677,8.8,2011,Prime Video,,

In [32]:
#create a params dict that will be updated with new city each iteration
params= {"key":g_key}

#Loop through summarycities_df and run a lat/lng search for each city
for index, row in topcities_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    country = row["Country"]
    params["address"]= f"{country}"
    
    
    #make request and print to check 
    country_lat_lng= requests.get(base_url, params=params)
    ##print(country_lat_lng.url)
    
    #convert to json
    country_lat_lng = country_lat_lng.json()
    
    topcities_df.loc[index, "Lat"] = country_lat_lng["results"][0]["geometry"]["location"]["lat"]
    topcities_df.loc[index, "Lng"] = country_lat_lng["results"][0]["geometry"]["location"]["lng"]

C:\Users\gloam\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [33]:
topcities_df

,Country,Title,IMDb,Year,Service,Lat,Lng
13622,Bosnia and Herzegovina,Finding Family,9.1,2013,Prime Video,43.9159,17.6791
6812,United Kingdom,The Dark Knight,9.0,2008,Hulu,55.3781,-3.43597
13624,Canada,Peter Gabriel: Secret World Live,8.9,1993,Prime Video,56.1304,-106.347
13625,Turkey,The Mountain II,8.9,2016,Prime Video,38.9637,35.2433
13626,Australia,Machine Gun Preacher Documentary,8.8,2014,Prime Video,-25.2744,133.775
13627,Japan,Memories 677,8.8,2011,Prime Video,36.2048,138.253

# Defining markers and marker titles
Take the top five countries and show markers and movie info in a map

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Title</dt><dd>{Title}</dd>
<dt>Service</dt><dd>{Service}</dd>
<dt>IMDb</dt><dd>{IMDb}</dd>
<dt>Year</dt><dd>{Year}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
city_info = [info_box_template.format(**row) for index, row in topcities_df.iterrows()]

#Create a map using coordinates to set markers
marker_locations = topcities_df[["Lat", "Lng"]]

In [35]:
##city_info

In [36]:
##marker_locations

In [37]:
##IMDb = topcities_df["IMDb"].tolist()

## Mapping IMDb Top five movies
The IMDb top five ranking movies correspond to different countries as well as different different years. 
Is interesting to find that the Top ranked movie corresponds to a 1993 Movie from Bosnia Herzegovina

In [38]:
# Add marker layer for Hotel map
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,info_box_content=city_info)
#     info_box_content=[f"IMDb rank: {x}" for x in IMDb])
    
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))